<% include partials/header.ejs %>

<h1>This is the landing page</h1>
<p>Welcome!!</p>

<div>
	<a href="/campgrounds">Click here to view the campgrounds</a>
</div>
<div>
	<a href="/campgrounds/new">Click here to submit a new Campground</a>
</div>


<% include partials/footer.ejs %>